@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Baloo|Mitr|Roboto|Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya');


body {
     font-family: 'Roboto', sans-serif;
    color: #555;
    background: #fff;
    margin: 0;
}

.container-article {
    padding: 1em 0 1em 0;
    max-width: 873px;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 120px;

}
.header{
    /* border-style: dotted; */
    display: flex;
    justify-content: space-between;
    border: 1.2px dotted #000;
    border-left: 0;
    border-right: 0;
    padding: 0.3em .5em;
}
.container-prime {
    padding: 1em;
}

.title {
    font-family: 'Alegreya', 'Times New Roman';
    line-height: 1.25;
    font-weight: 700;
    /* font-size: 40px; */
    color: #333;
    font-size: 2.75rem;
    /* margin-bottom: 2rem; */
}
.description {
    margin-top: 2rem;
    margin-bottom: 2em;    
   font-family: 'Slabo 27px',sans-serif;
   line-height: 1.6;
   color: #222;
   word-spacing: 0.4em;
       font-size: 1.25rem;
    font-style: italic;
      hyphens: auto;
      overflow-wrap: break-word;
      text-align: left;
      word-wrap: break-word; 
}
.category h4 {
    margin-bottom: 0;
}
ul {
    margin-top: 5px;
    color: #3D6AF2;
    list-style-type: none;
}
ul li{
    margin-bottom: 0.2em;
}
ul li a:hover {
    color: #F21F0C;
}
ul li a:focus {
    color: #F21F0C;
}

ul a{
    color: inherit;
    text-decoration: none;
}
.option {
    display: flex;
    justify-content: flex-end;
}
.option input.btn{
    width: fit-content;
    margin-left: 4px;
    padding: 10px 40px;
    border: none;
    color: #fff;
    background: #4F62E8;
    cursor: pointer;
}
.option input#comment {
    background: #7CEBBE;
    cursor: context-menu;
}
.content {
    border-bottom: 1px solid #777;
}
.add_comment {
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: 1px #777 solid ;
}

.all_comments-item {
    border: 1px solid #C2E2FE;
    padding: 10px 20px 15px 20px;
    margin: 10px 0 0 0;
}
h4#user_name {
    text-decoration: underline;
    color: #000;
    text-underline-position: under;
}

.option.flag {
    justify-content: flex-start;
    margin-bottom: 2em;
}
.option.flag.comment {
    justify-content: flex-end;
    margin-bottom: 0;
}
.flag .btn {
    border-width: 0;
    background: #325E4D;
    padding: 5px 10px 5px 10px;
    color: #fff;
    cursor: pointer;
}
.option #edit,#delete,#cancel,#flag-sure {
    width: fit-content;
    margin-left: 4px;
    padding: 10px 40px;
    border: none;
    color: #fff;
    outline: 1px solid rgb(16, 16, 75);
    background: rgb(16, 16, 75);
    cursor: pointer;
}
.option #cancel {
    color: rgb(16, 16, 75);
    background: #fff;
    outline: 1px solid rgb(16, 16, 75);
}

.quote {
    font-weight: 100;
    font-size: 2em;
    margin-bottom: 50px; 
    color: #000;
    grid-column: 1 / -1;
}



.article-card:hover {
    border: 0.6px solid #3A2EFF;
    cursor: pointer;

}

form input {
    position: relative;
        width: 100%;
        padding: 1em;
        /* border-radius: 30px; */
        /* border: 1px solid black; */
     
        outline: none;
        position: relative;
        box-sizing: border-box;
        border-width: 0;
           border-bottom: 2px solid #C2E2FE;
    }
    textarea{
        width: 100%;
        min-height: 200px;
        max-height: 350px;
        padding: 37px 15px 20px 15px;
        box-sizing: border-box;
        border: 2px solid #C2E2FE;
    }
    form input:focus {
        border-bottom: 2.2px solid #4EB8ED;
    }
.row {
    margin-bottom: 30px;
}
form input.btn{
    width: fit-content;
    padding: 10px 40px;
    border: none;
    color: #fff;
    background: #4F62E8;
    cursor: pointer;
}


/* model */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 20% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 400px;
}

.modal-content.flag {
    max-width: 600px;
    margin-top: 10%;
}
textarea[name="flag"]::placeholder {
    font-size: 1.3em;
}


.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}